<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      To Do
    </ion-title>
    <ion-buttons [collapse]="true" slot="primary">
      <ion-button [routerLink]="['/app-todo-item-menu']">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">To Do</ion-title>
      <ion-buttons slot="end">
        <ion-fab-button size="small" [routerLink]="['/app-todo-item-menu']">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-todo-list-cell *ngFor="let todoItem of todoItems; let i = index" [data]="todoItems[i]"></app-todo-list-cell>
  </ion-list>
</ion-content>
